@model AesophWorks.ViewModels.MakeOrderViewModel
@{
    ViewBag.Title = "MakeOrder";
}
<head>
    <link href="~/Content/theme/assets/libs/jquery-steps/jquery.steps.css"
          rel="stylesheet" />
    <link href="~/Content/theme/assets/libs/jquery-steps/steps.css" rel="stylesheet" />
    <link href="~/Content/theme/dist/css/style.min.css" rel="stylesheet" />
</head>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Make Order</h2>
        <hr />


        <div class="row mb-3">
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <a href="@Url.Action("Dashboard","User")">

                            <h1 class="font-light text-white">
                                <i class="mdi mdi-keyboard-return"></i>
                            </h1>
                            <h6 class="text-white">Back to Dashboard</h6>
                        </a>
                    </div>
                </div>
            </div>


        </div>


        <form id="example-form" action="#" class="mt-5">
            <div>
                <h3>Select Product</h3>
                <section>
                    <label for="product">Select Product</label>
                    <select class="select2 form-select shadow-none select2-hidden-accessible" name="Product">
                        @foreach (var item in Model.Items)
                        {
                            <option value="@item.Name" >@item.Name</option>
                        }
                    </select>

                  
                </section>
                <h3>Select Size</h3>
                <section>
                    <label for="name">First name *</label>
                    <input id="name"
                           name="name"
                           type="text"
                           class="required form-control" />
                    <label for="surname">Last name *</label>
                    <input id="surname"
                           name="surname"
                           type="text"
                           class="required form-control" />
                    <label for="email">Email *</label>
                    <input id="email"
                           name="email"
                           type="text"
                           class="required email form-control" />
                    <label for="address">Address</label>
                    <input id="address"
                           name="address"
                           type="text"
                           class="form-control" />
                    <p>(*) Mandatory</p>
                </section>
                <h3>Hints</h3>
                <section>
                    <ul>
                        <li>Foo</li>
                        <li>Bar</li>
                        <li>Foobar</li>
                    </ul>
                </section>
                <h3>Finish</h3>
                <section>
                    <input id="acceptTerms"
                           name="acceptTerms"
                           type="checkbox"
                           class="required" />
                    <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                </section>
            </div>
        </form>
    </div>
</div>



<script src="~/Content/theme/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/Content/theme/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/Content/theme/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Content/theme/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/Content/theme/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/Content/theme/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/Content/theme/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/Content/theme/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/Content/theme/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script>// Basic Example with form
      var form = $("#example-form");
      form.validate({
        errorPlacement: function errorPlacement(error, element) {
          element.before(error);
        },
        rules: {
          confirm: {
            equalTo: "#password",
          },
        },
      });
      form.children("div").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        onStepChanging: function (event, currentIndex, newIndex) {
          form.validate().settings.ignore = ":disabled,:hidden";
          return form.valid();
        },
        onFinishing: function (event, currentIndex) {
          form.validate().settings.ignore = ":disabled";
          return form.valid();
        },
        onFinished: function (event, currentIndex) {
          alert("Submitted!");
        },
      });</script>